<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
{% extends "base.html" %}

{% block content %}
<div class="admin-background">
    <!--<div>-->
    <!--    {% if current_user.is_authenticated %}-->
    <!--    <a href="/admin/product" class="btn btn-secondary">Добавить товар</a>-->
    <!--    {% endif %}-->
    <!--</div>-->
    <br>
    <div>
        <table>
            <ol class="breadcrumb-list">
                <li class="breadcrumb-list__item"><a href="/admin/productsgroups" class="btn btn-secondary">Группы
                        товаров</a></li>
                <li class="breadcrumb-list__item"><a href="/admin/products" class="btn btn-secondary">Товары</a></li>
                <li class="breadcrumb-list__item"><a href="/admin/types" class="btn btn-secondary">Типы</a></li>
                <li class="breadcrumb-list__item"><a href="/admin/categories" class="btn btn-secondary">Категории</a>
                </li>
                <li class="breadcrumb-list__item"><a href="/admin/banners" class="btn btn-secondary">Баннеры</a></li>
                <li class="breadcrumb-list__item"><a href="/admin/orders" class="btn btn-secondary">Заказы</a></li>
                <li class="breadcrumb-list__item"><a href="/admin/users" class="btn btn-secondary">Покупатели</a></li>
            </ol>
        </table>
    </div>
    <div>

        {% block admincontent %}{% endblock %}

    </div>
</div>
{% endblock %}