<link rel="stylesheet" href="{{ url_for('static', filename='css/basket.css') }}">
{% extends "base.html" %}

{% block content %}

<nav class="navbar navbar-light bg-light title-width">
    <h1>Ваша корзинка</h1>
    <a href="{{hrefBack}}" class="btn btn-success"> Назад </a>
</nav>
{%if basket%}
<form action="" method="post" class="form-width">
    <div class="basket-main-sidebar">


        <div>


            {{ form.hidden_tag() }}
            <div class="basket-menu">
                {% for item in form.content %}
                {% set amount, product = basket[item.label.text] %}
                {% include 'includes/basket_product.html' %}

                {% endfor %}
            </div>


            <!--    <div>-->
            <!--        <form action="" method="post">-->
            <!--            <button type="submit" class="btn btn-success">Заказать</button>-->
            <!--        </form>-->
            <!--    </div>-->


        </div>
        <div><p>{{ form.submit(type="submit", class="btn btn-primary", align="right") }}</p></div>

    </div>
</form>
{%else%}
<h1>Ваша корзина пуста(</h1>
{%endif%}
{% endblock %}
