{% extends "base.html" %}

{% block content %}
<div class="main-background">
    <nav class="navbar navbar-light bg-light">
        <div class="index-navbar">
            <!--    <div align="center" class="search">-->
            <div align="right">
                <form method="POST">
                    <div class="search-all">
                        <div align="right" class="search-string">
                            <input type="text" id="text" name="text" class="form-control"/>
                        </div>
                        <div class="search-button" align="left">
                            <input type="submit" value="Поиск" class="btn btn-primary"/>
                        </div>
                    </div>
                </form>

            </div>

            <div align="right">
<!--                <a href="/basket">-->
<!--                    <div class="basket-button"></div>-->
<!--                </a>-->
                <button class="basket-button"
                        onclick="saveHrefBasket({% if current_user.is_authenticated %}'{{current_user.id}}' {%endif%});">
<!--                    <div class="basket-button"></div>-->
                </button>
            </div>

        </div>
    </nav>
    <div class="index-category-menu">
        <div class="category-img-place">
            <a href="/search?category=-1">
                <img class="d-block category-img" src="/static/img/system/catalog.png"
                     alt="Каталог">
            </a>
            <p class="title-text">Каталог</p>
        </div>
        {% for category in categories %}
        <div class="category-img-place">
            <a href="/search?category={{category.id}}">
                <img class="d-block category-img" src="/static/img/categories/{{category.img}}"
                     alt="{{category.title}}">
            </a>
            <p class="title-text">{{category.title}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}