{% extends "base.html" %}

{% block content %}

<nav class="navbar navbar-light bg-light">
    <div class="index-navbar">
        <!--    <div align="center" class="search">-->
        <div align="right">
            <form method="POST">
                <div class="search-all">
                    <div align="right" class="search-string">
                        <input type="text" id="text" name="text" class="form-control"/>
                    </div>
                    <div class="search-button">
                        <input type="submit" value="Поиск" class="btn btn-primary"/>
                    </div>
                </div>
            </form>

        </div>
        <div align="right">
            <a href="/basket">
                <div class="basket-button"></div>
            </a>
        </div>
    </div>
</nav>
<nav class="navbar navbar-light bg-light title-width">
    <div align="right">
        {% for type in types %}
        <a href="#{{type.title}}" class="btn btn-success">{{type.title}}</a>
        {% endfor %}
    </div>
</nav>
<div class="menu">
    {% for type in types %}
    <div id="{{type.title}}"></div>

    {% for group_product in type.products %}
    {% for product in group_product.products %}
    {% include 'includes/product.html' %}
    {% endfor %}
    {% endfor %}


    {% endfor %}
</div>
{% endblock %}