{% extends "base.html" %}

{% block content %}
<div class="main-background">
    <nav class="navbar navbar-light bg-light">
        <div class="index-navbar">
            <!--    <div align="center" class="search">-->
            <div align="right">
                <form method="POST">
                    <div class="search-all">
                        <div align="right" class="search-string">
                            <input type="text" id="text" name="text" class="form-control"/>
                        </div>
                        <div class="search-button">
                            <input type="submit" value="Поиск" class="btn btn-primary"/>
                        </div>
                    </div>
                </form>

            </div>
            <div align="right">
                <a href="/basket">
                    <div class="basket-button"></div>
                </a>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-light bg-light title-width">
        <div align="right">
            {% for type in show_parts %}
            <a href="#{{type}}" class="btn btn-success">{{type}}</a>
            {% endfor %}
        </div>
    </nav>
    <div class="main-sidebar">
        <div class="sidebar">
            <label class="form-label fashion-text">Цена</label>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div>
                    {{ form.csrf_token }}
                </div>
                {% for field in form if field.name not in ['csrf_token', 'submit', 'all_types', 'categories'] %}
                <div>
                    {{ field.label(class="fashion-text") }}
                    {{ field(class="form-control")}}
                    {% for error in field.errors %}
                    <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
                {% endfor %}
                <p class="fashion-text">{{form.categories.label}}</p>
                <div class="form-control">
                    {% for subfield in form.categories %}
                    <div>{{ subfield() }}{{ subfield.label.text }}
                    </div>
                    {% endfor %}
                </div>
                <br>
                <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            </form>
        </div>
        <div class="menu">
            {% for parts in show_parts %}
            <div id="{{parts}}"></div>
            {% for product in show_parts[parts] %}
            {% include 'includes/product.html' %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}