{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-light bg-light title-width">
    <div align="left">
        <h1>Товарчики</h1>
    </div>
    <div align="right">
        <form method="POST">
            <nav>
                <input type="text" id="text" name="text" class="form-control" align="left" value="{{text}}"/>
                <input type="submit" value="Поиск" class="btn btn-primary" align="right"/>
            </nav>
        </form>

    </div>
    <div align="right">
        <a href="/basket">
            <div class="basket-button"></div>
        </a>
    </div>
</nav>
<nav class="navbar navbar-light bg-light title-width">
    <div align="right">
        {% for type in show_parts %}
        <a href="#{{type}}" class="btn btn-success">{{type}}</a>
        {% endfor %}
    </div>
</nav>
<div class="main-sidebar">
    <div class="sidebar">
        <label class="form-label">Цена</label>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div>
                {{ form.csrf_token }}
            </div>
            {% for field in form if field.name not in ['csrf_token', 'submit', 'types', 'all_types'] %}
            <div>
                {{ field.label() }}
                {{ field(class="form-control")}}
                {% for error in field.errors %}
                <div class="error">{{ error }}</div>
                {% endfor %}
            </div>
            {% endfor %}
            <br>
            <p>{{form.types.label}}</p>
            <div>
                {% for subfield in form.types %}
                <div style="margin: 0 1vh 1vh 1vh;">{{ subfield() }}{{ subfield.label.text }}
                </div>
                {% endfor %}
            </div>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        </form>
    </div>
    <div class="menu">
        {% for parts in show_parts %}
        <div id="{{parts}}"></div>
        {% for product in show_parts[parts] %}
        {% include 'includes/product.html' %}
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}