ol.breadcrumb-list {
    margin-bottom: 20px;
    margin-top: 20px;
}

@media (max-width: 991px) {
    .breadcrumb-list {
        overflow: auto;
        padding-left: 14px;
    }
}

.breadcrumb-list {
    background-color: transparent;
    border-radius: 0;
    color: gray;
    display: flex;
    font-size: 13px;
    margin-block-start: 0 !important;

    /* overflow: hidden; */
    padding-left: 0;
    padding-right: 0;
    position: relative;
}

.breadcrumb-list__item {
    background: #f6f6f6;
    display: inline-block;
    list-style-type: none;
    white-space: nowrap;
    width: max-content;
    margin-right: 5px;
}