:root {
    --main-color: #111111;
    --second-color: white;
}

footer {
    background-color: var(--main-color);
}

footer table tr,
footer table tr td a {
    color: var(--second-color);
    text-align: start;
}

footer table tr td a:hover,
footer table tr td a:active {
    color: #6969b9;
}