.index-category-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  min-height: 100%;
}

.search-all {
  /* background: #00ff00; */
  display: grid;
  grid-template-columns: 3fr 9fr 1fr;
  grid-template-areas: "space string button";
  justify-content: center;
}

.search-string {
  grid-area: string;
  border: 1px solid rgb(19, 15, 15);
  border-radius: 5px;
}

.search-button {
  grid-area: button;
}

.index-navbar {
  display: grid;
  grid-template-columns: 4fr 1fr;
  /* background: #ff0000; */
  width: 100%;
  justify-content: center;
}

.category-img-place {
  width: 41vh;
  height: 41vh;
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.category-img {
  height: 38vh;
  width: 38vh;
  border-radius: 5px;
  object-fit: cover;
}

.category-title-text {
  text-shadow: 1px 1px 0 var(--framing), 1px -1px 0 var(--framing),
    -1px 1px 0 var(--framing), -1px -1px 0 var(--framing);

  color: var(--text-color);
  transition: all 1s;
  text-align: center;

  font-size: 1.7rem;
  /* font-family: cursive; */
}

.banner-carousel {
  width: 100%;
  height: 20vh !important;
}

/* .banner-img-box {

   width: vw;
    height: 12vw;
} */
.banner-img {
  /*
  height: 24vh;
  width: 24vh;
  border-radius: 5px 5px;
      //width: 500px;
      //height 12vh;
      */
  width: 100%;
  height: 20vh !important;
  object-fit: cover;
}

@media (max-width: 519px) {
  .category-img-place {
    width: 34vw;
    height: 34vw;
    margin-bottom: 1vw;
  }

  .category-img {
    height: 32vw;
    width: 32vw;
    border-radius: 5px;
    object-fit: cover;
  }

  .category-title-text {
    font-size: 1rem;
  }

  .banner-carousel,
  .banner-img {
    height: 10vh !important;
  }
}

@media (min-width: 520px) and (max-width: 768px) {
  .category-img-place {
    width: 39vw;
    height: 39vw;
    margin-bottom: 2vw;
  }

  .category-img {
    height: 37vw;
    width: 37vw;
    border-radius: 5px;
    object-fit: cover;
  }

  .category-title-text {
    font-size: 1rem;
  }

  .banner-carousel,
  .banner-img {
    height: 10vh !important;
  }

}


@media (min-width: 769px) and (max-width: 1024px) {
  .category-img-place {
    width: 28vw;
    height: 28vw;
    margin-bottom: 3vh;
  }

  .category-img {
    height: 26vw;
    width: 26vw;
    border-radius: 5px;
    object-fit: cover;
  }

  .category-title-text {
    font-size: 1.2rem;
  }
}

@media (min-width: 1025px) and (max-width: 1240px) {
  .category-img-place {
    width: 28vw;
    height: 28vw;
    margin-bottom: 3vh;
  }

  .category-img {
    height: 26vw;
    width: 26vw;
    border-radius: 5px;
    object-fit: cover;
  }

  .category-title-text {
    font-size: 1.3rem;
  }
}