html {
  --firstly-color: white;
  --secondary-color: rgba(91, 82, 212, 0.837);
  --thirdly-color: rgb(99, 96, 105);
  --fourly-color: rgb(144, 182, 242);
  --black: rgb(35, 35, 35);
  --dark-blue: #12191d;
  --white: #ffffff;
  --green: #33ff00;
  --caribbean: #00e197;
  --light-green: #8eef8c;
  --turquoise: #12eeff;
  --pink: #f053d5;
  --red: #fe785a;
  --gray-900: #0c1114;
  --gray-700: #242a2c;
  --gray-650: #495257;
  --gray-600: #424b4f;
  --gray-500: #495257;
  --gray-300: #8d979e;
  --gray-200: #acb4b9;
  --gray-150: #aeb6bb;
  --gray-100: #eef1f3;
  --gray-50: #f6f8f9;
  --framing: black;
  --text-color: white;

}


main {
  flex: 1;
  min-width: 95%;
  justify-content: center;
  display: block;
  margin: 0 auto;
  text-align: left;
}

/**/
.main-background {
  background-image: url("./main_background.jpg");
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh !important;
  width: 100%;
}

body {
  min-height: 100vh;
  /* Страница всегда имеет необходимый размер */
  position: relative;
  /* Определяет позиционирование элементов внутри */
  margin: 0;
  padding: 0;
  text-align: center;
}

.my-container {
  min-width: 100%;
  max-width: 98vw;
}


.admin-background {
  background-color: rgb(240, 231, 231);
}




.admin-img-delete:hover {
  transform: scale(1.5);
  transition: 0.25s;
}

.admin-img-delete {
  width: 10vh;
  height: 10vh;
  border-radius: 20px;
  object-fit: cover;
  margin-top: 2vh;
}

.admin-img-grid {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.delete-button {
  width: 4vh;
  height: 4vh;
  border: none;
  background-image: url("../img/system/admin_del_item.png");
  background-size: cover;
  margin: 5px 5px;
}



.basket-button {
  width: 5vh;
  height: 5vh;
  border: none;
  background-image: url("../img/system/cart_icon.png");
  background-size: cover;
  margin: 5px 5px;
}

/* .add-to-basket-button {
  width: 5vh;
  height: 5vh;
  border: none;
  background-image: url("../img/system/add_to_basket.png");
  background-size: cover;
  background-color: #33ffa0;
  margin: 5px 5px;
} */

.menu {
  display: grid;
  /* justify-content: space-around; */
  align-items: flex-start;
  flex-wrap: wrap;
  margin-right: 25px;
  padding-top: 0;

  /* justify-items: stretch; */
  /* border: 5px solid rgb(0 0 0); */
}


footer {
  clear: both;
  padding: 0;
  background: var(--black);
  color: #ffffff;
  overflow: hidden;
  min-width: 100;
}

.font-color--white {
  color: #ffffff !important;
}

.font-color--gray-300 {
  color: var(--gray-300);
}

.title-width {
  min-width: 100%;
}

.form-width {
  min-width: 50vw;
  display: block;
  justify-content: center;
}

.form-scale {
  flex: 1;
  max-width: 500px;
  justify-content: center;
  display: block;
  margin: auto;
  text-align: left;
}

.tg-button {
  display: block;
  position: fixed;
  bottom: 10vh;
  right: 5vh;
  width: 5vh;
  height: 5vh;
  border: none;
  background-image: url(../img/system/tg_logo.png);
  background-size: cover;
  margin: 5px 5px;
}