:root {
  --product-text-color: rgb(255, 122, 0);
  --product-description-color: rgb(195, 213, 243);
  --product-title-color: rgb(255, 215, 0);
  --product-background: rgb(19, 68, 124);
}


a {
  color: rgb(29, 72, 136);
  text-decoration: none;
}

@media (max-width: 767px) {
  .product {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 120px 56px minmax(56px, auto);
    padding: 6px;
  }
}

@media (min-width: 768px) {
  .product {
    grid-gap: 8px 0;
    display: grid;
    grid-template-columns: auto minmax(0, 1fr) auto;
    grid-template-rows: 1fr 32px 20px;
    padding: 24px;
  }
}


@media (max-width: 767px) {
  .product-img-place {
    grid-column: 1;
    grid-row: 1 / 2;
    margin-right: 12px;
    width: 100px;
  }
}

.product-img-place {
  align-content: center;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
}

@media (max-width: 767px) {
  .product-description {
    grid-column: 2;
    grid-row: 1;
    max-height: 132px;
  }
}



/* @media (max-width: 767px) {
  .product-stats:after {
    content: "";
    display: block;
    min-width: 12px;
  }
}

*/
@media (max-width: 767px) {
  .product-stats {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 2;
    margin: 0 -12px;
    overflow-x: auto;
    padding: 12px;
    width: calc(100% + 24px);
  }
}

@media (max-width: 767px) {
  .product-buy {
    display: grid;
    grid-column: 1 / 3;
    grid-row: 3;
    /* grid-template-columns: 1fr auto; */
    /* grid-template-rows: auto auto; */
    padding-bottom: 12px;
  }
}


@media (max-width: 767px) {
  .product-color {
    grid-column: 1;
    grid-row: 1;
    margin: auto 0;
    /* margin: 0 0 0 30%; */
  }
}



@media (max-width: 767px) {
  .product-mark {
    grid-column: 2;
    grid-row: 1;
    margin: auto 0;
    /* margin: 0 0 0 30%; */
  }
}

@media (max-width: 767px) {
  .product-price {
    grid-column: 3;
    grid-row: 1;
    margin: auto 0;
    /* margin: 0 0 */
  }
}

@media (max-width: 767px) {
  .product-button-plus {
    justify-self: end;

  }
}


/* .product-buy {
  cursor: pointer;
}

.product-buy {
  background: #f7f7f7;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  min-height: 44px;
  padding: 0 16px 0 12px;
  position: relative;
}

*/

@media (min-width: 768px) {
  .product {
    grid-gap: 8px 0;
    display: grid;
    grid-template-columns: auto minmax(0, 1fr) auto;
    grid-template-rows: 1fr 1fr;
    padding: 24px;
  }
}

@media (min-width: 768px) {
  .product-description {
    grid-column: 2;
    grid-row: 1;
    /* max-height: 100px; */
  }
}

@media (min-width: 768px) {
  .product-img-place {
    grid-column: 1;
    grid-row: 1 / 4;
    height: 200px;
    margin-right: 12px;
    margin-bottom: 18px;
    width: 200px;
  }
}

@media (min-width: 768px) {
  .product-stats {
    grid-column: 2;
    grid-row: 2;
  }
}

@media (min-width: 768px) {
  .product-buy {
    display: grid;
    grid-column: 3;
    grid-row: 1 / 3;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
    justify-self: right;
    padding-left: 12px;
  }
}


.product {
  display: grid;
  width: 100%;
  margin: 5px 0px;
  background-color: var(--product-background);
  border-radius: 20px;
  position: relative;
}

.product>div {
  padding: 0em 1em;
}

.product-img-place {
  /* padding: 1em; */
  grid-column: 1 / 2;
  /* grid-row: 1 / 2; */
  width: 28vh;
  height: 28vh;
}

.product-img {
  height: 24vh;
  width: 24vh;
  border-radius: 5px 5px;
  object-fit: cover;

}

.product-description {
  grid-column: 2 / 3;
  justify-self: start;
  max-height: 110px;
  font-size: 16px;
  line-height: 22px;
  overflow: hidden;
}



.product-description-title {
  font-size: 2rem;
  /* font-family: cursive; */
  color: var(--product-title-color);
  text-align: left;
}

.product-description-description {
  /* font-family: cursive; */
  color: var(--product-description-color);
  text-align: left;
  font-size: 16px;
}

.product-description-color,
.product-description-mark {
  /* font-family: cursive; */
  color: var(--product-text-color);
  text-align: left;
}

.product-description-price {
  font-size: 1.2rem;
  /* font-family: cursive; */
  color: var(--product-text-color);
  text-align: center;
}

span[class="product-description-price"]:after {
  content: '₽';
}

@media (max-width: 770px) {
  .product-img-place {
    /* grid-column: 1 / 2; */
    width: 16vh;
    height: 16vh;
  }

  .product-img {
    height: 14vh;
    width: 14vh;
  }
}