.sidebar {
  z-index: 250;
}

.fashion-text {
  text-shadow: 1px 1px 0 var(--framing), 1px -1px 0 var(--framing),
    -1px 1px 0 var(--framing), -1px -1px 0 var(--framing);

  color: var(--text-color);
  transition: all 1s;

  font-size: 1rem;
  /* font-family: cursive; */
  text-align: left;
}

@media (max-width: 1000px) {
  .sidebar {
    width: 100%;
    display: grid;
    grid-template-columns: 375px auto;
  }

  .sidebar-container {
    max-width: 100%;
    background-color: rgb(224, 224, 224);
  }

  .fashion-text {
    color: #1c1a1a !important;
    font-size: 1.1rem !important;
    text-align: left !important;
    text-shadow: 0px 0px !important;
  }

}



.main-sidebar {
  max-width: 100%;
  /* height: 100vh;  */
  padding: 0 0 0 2vw;
  margin: auto;
  display: grid;
  gap: 2vw;
  grid-template-columns: 15%/-webkit-min-content 85%;
  grid-template-columns: 15%/min-content 85%;
  grid-template-areas:
    "stack right"
    "stack right";
  /* grid-auto-flow: column; */
}

/* @media (max-width: 767px) {
    .sidebar_call_button {
        display: none !important;   
}} */



#sidenav-open {
  --easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
  --duration: .6s;
  display: grid;
  /* grid-template-columns: [nav] 2fr [escape] 1fr; */
}

@media (max-width:1000px) {

  div[class="main-sidebar"]>aside,
  div[class="main-sidebar"]>div[class="menu"] {
    grid-area: stack
  }

  .main-sidebar {
    padding: 0;
    gap: 0;
  }

  .menu {
    margin-right: 5px !important;
    margin-left: 5px;
  }


}


@media (max-width:1000px) {
  #sidenav-open {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    overflow: hidden auto;
    -ms-scroll-chaining: none;
    overscroll-behavior: contain;
    visibility: hidden;
    transform: translateX(-110vw);
    will-change: transform;
    transition: transform var(--duration) var(--easeOutExpo), visibility 0s linear var(--duration)
  }

  #sidenav-open:target {
    visibility: visible;
    transform: translateX(0);
    transition: transform var(--duration) var(--easeOutExpo)
  }
}


#sidenav-button,
#sidenav-close {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation
}

@media (min-width:1000px) {

  #sidenav-button,
  #sidenav-close {
    display: none
  }
}

/* .hamburger:before {
  content: "";
  background-image: url("../img/system/gamburger.png");
  background-size: 100% 100%;
  display: inline-block;

  height: 21px;
  width: 21px;
  position: relative;
  top: 5px;

} */


.back-arrow:before {
  /* width: 16px;
  height: 16px; */
  /* border: none; */
  content: "";
  background-image: url("../img/system/back.png");
  background-size: 100% 100%;
  display: inline-block;

  /*size of your image*/
  height: 25px;
  width: 25px;
  /* background-size: cover;
  background-color: blueviolet; */
  /* margin: 5px 5px; */
}


@media (max-width: 991px) {
  .product-card__breadcrumbs {
    max-height: 38px;
  }
}

ol.breadcrumb-list {
  margin-bottom: 20px;
  margin-top: 20px;
}

@media (max-width: 991px) {
  .breadcrumb-list {
    overflow: auto;
    padding-left: 14px;
  }
}

.breadcrumb-list {
  background-color: transparent;
  border-radius: 0;
  color: gray;
  display: flex;
  font-size: 13px;
  margin-block-start: 0 !important;

  /* overflow: hidden; */
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.breadcrumb-list__item {
  background: #f6f6f6;
  display: inline-block;
  list-style-type: none;
  white-space: nowrap;
  width: max-content;
  margin-right: 5px;
}

.back-arrow {
  color: #1c1a1a;
  font-size: 1.5rem;
}