.show-product-img-place {

    background-color: var(--thirdly-color);
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    height: 65vh;
    width: 65vh;
}

.show-product-img {
    height: 65vh;
    width: 65vh;
    border-radius: 20px;
    object-fit: cover;
}

.show-product-text-place {
    display: grid;
    grid-template-rows: 10vh 20vh auto;
    gap: 10;
}

.show-product-buy {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    grid-auto-flow: column;
    grid-area: buy;
    /* width: 70%    !important; */
}

.show-product-colors {
    width: 50%;
    display: grid;
    gap: 10px;
    /* grid-auto-flow: row; */
    justify-items: center;
    grid-template-columns: repeat(3, auto);
    /* grid-template-areas: "a a a"; */
    grid-auto-rows: auto;
    margin-top: 10px;
}

.show-product-buy-mark {
    /* font-family: cursive; */
    color: var(--product-text-color);
    text-align: left;
    font-size: 1.3rem;
}

.show-product-buy-cost {
    font-size: 1.3rem;
}


@media (min-width: 992px) and (max-width: 1199px) {
    .show-product-img-place {
        height: 45vw;
        width: 45vw;
    }

    .show-product-img {
        height: 45vw;
        width: 45vw;
    }
}

.show-product-little-img {
    border-radius: 5px;
    object-fit: cover;
    height: 10vh;
    width: 10vh;
}

/* .show-product-description {
    max-width: 30vw;
} */

@media (min-width: 992px) and (max-width: 1199px) {
    .show-product {
        --container-padding: 20px;
    }
}

@media (min-width: 992px) {
    .show-product {
        --container-padding: 32px;
        padding: 0 var(--container-padding) var(--container-padding);
    }
}

@media (min-width: 992px) {
    .show-product {
        --header-mb: 24px;
        position: relative;
    }
}

@media (min-width: 992px) {
    .show-product {
        display: grid;
        grid-template-areas:
            "header header"
            "left buy"
            "left description"
            "left colors"
            "left plus";
        grid-template-columns: 1fr minmax(400px, 1fr);
        grid-template-rows: repeat(6, auto);
        margin-bottom: 20px;
        width: 100% !important;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .product-card-top_full {
        --container-padding: 32px;
        padding: 0 var(--container-padding) var(--container-padding);
    }
}

@media (min-width: 992px) {

    .show-product-title {
        grid-area: header;
    }

    .show-product-title {
        /* margin-bottom: var(--container-padding); */
        margin-left: calc(var(--container-padding)* -1);
        padding-right: 65px;
    }

    .show-product-title {
        font-size: 32px;
        font-weight: 700;
        margin-top: auto;
        padding: 10px 0 var(--header-mb);
        word-break: break-word;
    }
}

@media (min-width: 992px) {
    .show-product-img-place {
        margin-right: 32px;
    }
}

@media (min-width: 992px) {
    .show-product-img-place {
        grid-area: left;
    }
}

@media (min-width: 992px) {
    .show-product-description {
        /* height: 84px; */
        overflow: hidden;
    }
}


.show-product-description {
    grid-area: description;
}



@media (min-width: 992px) {
    .show-product-stats {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        margin: 0 0 16px;
        width: 50% !important;
    }
}

@media (min-width: 992px) {
    .show-product-stats {
        grid-area: stat;
    }
}

@media (min-width: 992px) {
    .show-product-colors {
        margin-bottom: 16px;
        min-height: 124px;
        width: 50% !important;
        padding-top: 10px;
    }
}

.show-product-colors {
    grid-area: colors;
}






*,
:after,
:before {
    box-sizing: border-box;
}

@media (min-width: 992px) {
    .show-product-container {
        box-sizing: border-box !important;
        max-width: 1400px !important;
        padding: 0 10px;
        width: 100% !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .show-product-container {
        min-width: 690px;
        padding: 0 12px;
        width: calc(100% - 24px);
    }
}

@media (max-width: 767px) {
    .show-product-container {
        /* min-width: 312px; */
        padding: 0 4px;
        width: calc(100% - 8px);
    }
}

.show-product-container {
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
}


@media (max-width: 991px) {
    .show-product {
        display: grid;
        grid-template-areas:
            "img"
            "title"
            "buy"
            "colors"
            "description";
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, auto);
        width: 100% !important;
        max-width: 100%;
        grid-auto-flow: row;
    }
}

@media (max-width: 991px) {
    .show-product {
        margin-bottom: 24px;
        padding: 12px;
        position: relative;
    }
}

@media (max-width: 991px) {
    .show-product-img-place {
        grid-area: img;
    }

    .show-product-img-place {
        height: 80vw;
        width: 80vw;
    }

    .show-product-img {
        height: 80vw;
        width: 80vw;
    }

    .show-product-little-img {
        height: 10vh;
        width: 10vh;
    }

}

@media (max-width: 400px) {

    .show-product-little-img {
        height: 25vw;
        width: 25vw;
    }

    .show-product-colors {
        width: 100% !important;
    }

    .show-product-buy-mark,
    .show-product-buy-cost {
        font-size: 1rem;
    }


}

@media (max-width: 991px) {

    .show-product-title {
        grid-area: title;
    }
}