.show-product-title {
    grid-column: 1 / -1;
    grid-row: 1;
    margin-right: auto;
    margin-left: auto;
}

.show-product-img-place {

    background-color: var(--thirdly-color);
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    height: 65vh;
    width: 65vh;
}

.show-product-img {
    height: 65vh;
    width: 65vh;
    border-radius: 20px;
    object-fit: cover;
}

.show-product-text-place {
    display: grid;
    grid-template-rows: 10vh 20vh auto;
    gap: 10;
}

.show-product-sub {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10;
    grid-auto-flow: column;
    grid-area: info;
    width: 50% !important;
}

.show-product-colors {
    display: grid;
    gap: 10px;
    grid-auto-flow: column;
    justify-items: start;
}

.show-product-little-img {
    height: 10vh;
    border-radius: 5px;
    object-fit: cover;
}

.show-product-description {
    max-width: 30vw;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .show-product {
        --container-padding: 20px;
    }
}

@media (min-width: 992px) {
    .show-product {
        --container-padding: 32px;
        padding: 0 var(--container-padding) var(--container-padding);
    }
}

@media (min-width: 992px) {
    .show-product {
        --header-mb: 24px;
        position: relative;
    }
}

@media (min-width: 992px) {
    .show-product {
        display: grid;
        grid-template-areas:
            "header header"
            "left spec-brand"
            "left stat"
            "left info"
            "left buy"
            "left wrap"
            "left free"
            "gallery gallery"
            "risks risks";
        grid-template-columns: 1fr minmax(590px, 1fr);
        grid-template-rows: repeat(6, auto) 1fr 120px auto;
        margin-bottom: 20px;
        width: 100% !important;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .product-card-top_full {
        --container-padding: 32px;
        padding: 0 var(--container-padding) var(--container-padding);
    }
}

@media (min-width: 992px) {

    .show-product-title {
        grid-area: header;
    }
}

@media (min-width: 992px) {
    .show-product-title {
        margin-bottom: var(--container-padding);
        margin-left: calc(var(--container-padding)* -1);
        padding-right: 65px;
    }
}

@media (min-width: 992px) {
    .show-product-title {
        font-size: 32px;
        font-weight: 700;
        margin-top: 0;
        padding: 10px 0 var(--header-mb);
        word-break: break-word;
    }
}

@media (min-width: 992px) {
    .show-product-img-place {
        margin-right: 32px;
    }
}

@media (min-width: 992px) {

    .product-card-top__code,
    .show-product-img-place,
    .product-card-top__tech-voblers,
    .product-card-top__voblers {
        grid-area: left;
    }
}

@media (min-width: 992px) {
    .show-product-description {
        height: 84px;
        overflow: hidden;
    }
}

@media (min-width: 992px) {
    .show-product-description {
        grid-area: spec-brand;
    }
}


@media (min-width: 992px) {
    .show-product-stats {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        margin: 0 0 16px;
        width: 50% !important;
    }
}

@media (min-width: 992px) {
    .show-product-stats {
        grid-area: stat;
    }
}

@media (min-width: 992px) {
    .show-product-colors {
        margin-bottom: 16px;
        min-height: 124px;
        width: 50% !important;
    }
}

@media (min-width: 992px) {
    .show-product-colors {
        grid-area: buy;
    }
}






*,
:after,
:before {
    box-sizing: border-box;
}

@media (min-width: 992px) {
    .container {
        box-sizing: border-box !important;
        max-width: 1400px !important;
        padding: 0 10px;
        width: 100% !important;
    }
}


.container {
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
}