<footer class="bg-body-tertiary text-center text-lg-start">
    <table>
        <tr>
            <th>Контакты</th>
        </tr>
        <tr>
            <td>Контактный телефон <a href="tel:+79521239684" style="color:#FFFFFF">+79521239684</a></td>
        </tr>
        <tr>
            <td><a href="https://www.instagram.com/b_decor_e?igsh=b2hqcHRpaGV5bGYx&utm_source=qr"
                    target="_blank">Инстаграм</a>
            </td>
        </tr>
        <tr>
            <td><a href="https://vk.com/ok_se_96" target="_blank">ВКонтакте</a>
            </td>
        </tr>
    </table>

    <div class="text-center p-3">
        ©2024 Copyright:
        <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        <p>Сайт создал: ryazan62nik@yandex.ru</p>
    </div>
</footer>